footer {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}